@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="container text-center">
        <h2>Bienvenido al sistema de gestion de LA VETERINARIA 2019</h2>
        <p>Podes crear las siguientes acciones: </p>
        <p><a href="/Doctor/Index">Ver la lista de doctores de LA VETERINARIA</a></p>
        <p><a href="/Pet/Index">Ver la lista de mascotas, clientes de LA VETERINARIA</a></p>
        <p><a href="/Owner/Index">Ver la lista de dueños de las mascotas de LA VETERINARIA</a></p>

        <p>Gracias por utilizar nuestro sistema de gestion</p>
    </div>
</div>